/* Footer Caja */

.footer_login{
    padding: 10px 0px;
    font-size:12px;
    background-color:#F2F2F2;
}

.iconos-footer{
    max-height: 25px;
    max-width:  25px;
    line-height: 52px;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index:10;
}
.row-footer{
    margin-top: 80px;
}

/* Footer Caja */